//- each item in test_list
//-   h2 #{item.number} #{item.name}
//-   p !{item.description}
//-   h3 Determination of compliance
//-   p !{item.compliance}


table.table.table-bordered(alt='Testable requirements')
  thead
    tr.active
      th(scope='col') EN 301 549 (2018) clauses
      th(scope='col') Determination of compliance
  tbody
    each item in test_list
      tr
        td(valign='top')
          strong #{item.number} #{item.name}
          | !{item.description}
        td(valign='top')
          strong C.#{item.number} #{item.name}
          | !{item.compliance}