mixin fpsCheckbox(item)
  .checkbox
    label(for=item.id)
      input(id=item.id type='checkbox' name='clauses' value=item.id class=item.informative ? 'informative' : '' disabled=item.informative)
      | #{item.number} #{item.name}

mixin createTree(tree)
  each item in tree
    if item.children.length === 0
      .leafNode
        +fpsCheckbox(item.clause)
    else
      details
        summary
          +fpsCheckbox(item.clause)
        +createTree(item.children)

.btn-group
  button.btn.btn-default#selectAll Select all 
  button.btn.btn-default#selectNone Select none

fieldset#clauses
  //- legend.required
  legend.wb-inv
    span.field-name.wb-inv Select clauses to include 
    //- strong.required (required)
  .clause_tree
    +createTree(item_tree)