extends layout

block content
  h1#wb-cont(property="name")= title
  form(method='POST' action='' novalidate='novalidate')
    .form-group
      label(for='preset') Load commodity preset
      select#preset.form-control(name='preset')
        option(value='') Custom (specify clauses below)
        each preset in preset_list
          option(value=preset.id) #{preset.name}

    fieldset#clauses
      //- legend.required
      legend
        span.field-name Select clauses to include 
        //- strong.required (required)

      each item, i in item_list
        -item.level = item.number.split(".").length - 1
        .checkbox(class=('checkbox--level'+item.level))
          label(for=item.id)
            //- input(id=item.id type='checkbox' name='clauses' value=item.id required=(i===0 ? 'required' : false))
            input(id=item.id type='checkbox' name='clauses' value=item.id)
            | #{item.number} #{item.name}

    button.btn.btn-primary(type='submit') Generate requirements
  
  //- Hidden data (for client-side javascript)
  .hidden#preset-data
    each preset in preset_list
      ul.preset(id=preset.id)
        each clause in preset.clauses
          li #{clause}